<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>画像処理</title>
    </head>

            <h1>画像処理アプリ</h1>

            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="image" required><br>
                幅： <input type="number" name="width" value="200"><br>
                高さ： <input type="number" name="height" value="200"><br>
                処理：
                <select name="action">
                    <option value="resize">リサイズ</option>
                    <option value="thumbnail">サムネイル</option>
                    <option value="blur">ぼかし</option>
                    <option value="sharpen">シャープ化</option>
                    <option value="rotate">回転(90度)</option>
                    <option value="flip">左右反転</option>
                </select><br><br>
                <button type="submit">送信</button>
            </form>

            {% if img_url %}
                <h2>処理の結果</h2>
                <img src="{{ img_url }}" alt="処理済み画像">
            {% endif %}

    <body>
        
    </body>
</html>