<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>画像リサイズ</title>
    </head>

            <h1>画像をリサイズ</h1>

            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="image"required><br>
                幅： <input type="number" name="width" value="200"><br>
                高さ： <input type="number" name="height" value="200"><br>
                <button type="submit">送信</button>
            </form>

    <body>
        
    </body>
</html>