<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>News App</title>
    </head>

    <body>
        <h1>Top Headlines</h1>
        <ul>
            {% for article in articles %}
            <li>
                <!-- title を取り出す -->
                <a href="{{ article['url'] }}">{{ article['title'] }}</a> <!-- 記事から['url']['title']を取り出す -->
            </li>
            {% endfor %}
        </ul>

    </body>

</html>