{% extends 'base.html' %}
{% block content %}
    <!-- main.pyから受け取ったtodosリストの各値を繰り返し処理 -->
    {% for todo in todos %}
        <!-- 未完了ステータスのタスクだけ処理 -->
        {% if not todo.done %}
            <!-- /completeルートにルーティングし、完了ステータス対象のタスクインデックスを渡す -->
            <a href = "{{ url_for('complete', index = todo.index) }}" class="list-group-item-acrion d-flex fap-3 py-3" aria-current="true">
                <ol class="list-group w-100" style="max-width: 800px; min-width: 600px;">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <!-- 各タスクの要素を描画 -->
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <!-- アイコン -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                                    <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                                {{ todo.task }}
                            </div>
                            {{ todo.detail }}
                        </div>
                        <small class="opacity-50 text-nowrap">{{ todo.time }}</small>
                    </li>
                </ol>
            </a>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <a href="{{ url_for('add') }}" class="btn btn-primary">タスク追加</a>
{% endblock %}