{% extends "base.html" %}
{% block content %}
    <div class="card-body">
        <h1 class="mb-4">Markdownプレビューアプリ</h1>
        <form method="POST" class="mb-4">
            <div class="mb-3">
                <textarea class="form-control" name="markdown_text" rows="10" cols="50">{{ markdown_text }}</textarea><br>
            </div>
            <button type="submit"  class="btn btn-primary">変換</button>
        </form>
        <h2 class="h4 mb-3">プレビュー</h2>
        <div class="border rounded p-3 bg-white">
            <!-- |safe フィルタを使って変換結果をそのまま表示 -->
            {{ html_preview|safe }}
        </div>
    </div>
{% endblock %}