<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo app</title>
    </head>

    <body>
        <h1>Todo アプリ（SQLite）</h1>
        <form action="">
            <div>
                <label for="title">Todo title</label>
                <input type="text" name="title" placeholder="Todo を入力してください">
                <br>
                <button type="submit">追加</button>
            </div>
        </form>

    </body>

</html>