<!doctype html>
<title>おみくじ</title>
<h2>今日のあなたの運勢は・・・{{ fortune }}です！</h2>
    {% if fortune =="大吉" %}
        <h3>コードは絶好調、バグは皆無。今日のPushは神レベル。</h3>
        <h4>ラッキーアイテム：青いマグカップ</h4>
    {% elif fortune =="中吉" %}
        <h3>上り調子！迷宮エラーに遭遇しても冷静に対処できる予感。</h3>
        <h4>ラッキーアイテム：イヤホン</h4>
    {% elif fortune =="小吉" %}
        <h3>バグ多めの日。忍耐こそ力なり。ささやかな幸せを大切に。</h3>
        <h4>ラッキーアイテム：ふせん</h4>
    {% elif fortune =="凶" %}
        <h3>何も手につかない！上手に休憩をとって運気回復。</h3>
        <h4>ラッキーアイテム：コーヒー</h4>
    {% else %}
        <h3>あきらめないで！</h3>
    {% endif %}
