{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4 text-center">画像アップロードアプリ</h1>
    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <input type="file" class="form-control" name="file">
        </div>
        <button class="btn btn-primary" type="submit">アップロード</button>
    </form>

    {% if filename %}
    <h2>アップロードされた画像:</h2>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" width="300">
    {% endif %}

{% endblock %}