<!DOCTYPE html>

<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Word Counter</title>
    </head>

    <body>

        <h1>文字数カウントアプリ</h1>

        <form method="POST" action="/">
            <label for="text_to_count">文字を入力してください</label><br>
            <textarea name="text" rows="5" cols="40" id="text_to_count">{{ text }}</textarea><br>

            <button type="submit">カウントする</button>
        </form>

        <p>最大 {{ max_length }} 文字まで入力できます</p>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        {% if count is not none %}
            文字数： {{ count }}
        {% endif %}

        <p>現在の文字数： <span id="charCount">0</span></p>

        <script>
            const textarea = document.getElementById("text_to_count");
            const charCount = document.getElementById("charCount");

            textarea.addEventListener("input", () => {
                charCount.textContent = textarea.value.length;
            });
        </script>

    </body>
</html>