{% extends "base.html" %}
{% block title %}Weather_app{% endblock %}

{% block content %}
    <h1>週間天気予報アプリ</h1>

    <label for="area">地域を選択: </label>
    <!-- ドロップダウンメニュー -->
    <select  id="area">
        {% for jp, en in cities.items() %}
            <option value="{{ en }}">{{ jp }}</option>
        {% endfor %}
    </select>
    <button id="getWeatherBtn">表示</button>

    <hr>

    <div id="weather-result">
        <p>地域を選択して「表示」を押すと結果がここに出ます。</p>
    </div>

    <script>
        document.getElementById("getWeatherBtn").addEventListener("click", async () => {
            const city = document.getElementById("area").value;
            const resultDiv = document.getElementById("weather-result");
            resultDiv.innerHTML = "<p>読み込み中...</p>";

            try{
                const res = await fetch("/get_weather", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ city })
                });

                const data = await res.json();

                if (data.error) {
                    resultDiv.innerHTML = `<p style="color:red;">${data.error}</p>`;
                    return;
                }

                const current = data.current;
                const forecast = data.forecast;

                let html = `
                    <h2>現在の天気 (${current.city}) </h2>
                    <img src="https://openweathermap.org/img/wn/${current.icon}@2x.png" alt="天気アイコン">
                    <p>天気: ${current.description}</p>
                    <p>気温: ${current.temperature} ℃</p>

                    <hr>
                    <h3>5日間の予報</h3>
                    <div style="display:flex; gap:10px; flex-wrap:wrap;">
                `;

                forecast.forEach(f => {
                    html += `
                        <div style="border:1px solid #ccc; border-radius:10px; padding:10px; width:130px; text-align:center;">
                            <p>${f.date}</p>
                            <img src="https://openweathermap.org/img/wn/${f.icon}@2x.png" alt="icon">
                            <p>${f.description}</p>
                            <p>${f.temp} ℃</p>
                        </div>
                        `;
                });

                html += "</div>";
                resultDiv.innerHTML = html;
                    
            } catch (err) {
                resultDiv.innerDTML = `<p style="color:red;">通信エラーが発生しました。</p>`;
                console.error(err);
            }
        });
    </script>
{% endblock %}