{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}短縮URLサービス 統計{% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">短縮URL</th>
                <th scope="col">オリジナルURL</th>
                <th scope="col">クリック数</th>
                <th scope="col">作成日</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ url['id'] }}</th>
                    <td>{{ url['short_url'] }}</td>
                    <td>{{ url['original_url'] }}</td>
                    <td>{{ url['clicks'] }}</td>
                    <td>{{ url['created'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
