<!DOCTYPE html>

<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Othello Lite{% endblock %}</title>
        <!-- CSSを読み込み -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        {% block content %}{% endblock %}

        <!-- JSを読み込み -->
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html>